In [1]:
#This is a list
l = [1,2,3,10]

In [2]:
l

[1, 2, 3, 10]

In [3]:
print(l)

[1, 2, 3, 10]

In [4]:
l[0]

1

In [5]:
l[1]

2

In [6]:
l[2]

3

In [7]:
l[3]

10

In [8]:
l[4]

IndexError: list index out of range

In [9]:
l

[1, 2, 3, 10]

In [10]:
len(l)

4

In [11]:
l.index(10)

3

In [12]:
l.append(20)
l.append(30)
l.append(10)

In [13]:
l

[1, 2, 3, 10, 20, 30, 10]

In [14]:
l.index(10)

3

Now I'm gonna show you an example of __Tuple__

In [15]:
t = (1,2,3,10)

In [16]:
t

(1, 2, 3, 10)

In [17]:
t[0]

1

In [18]:
t[3]

10

Now lets see some __Sets__

In [19]:
s = {10,2,10}

In [20]:
s

{2, 10}

In [21]:
s[0]

TypeError: 'set' object is not subscriptable

In [22]:
reg = [5,10,2,10,30,78,5,2,30]

In [23]:
reg

[5, 10, 2, 10, 30, 78, 5, 2, 30]

Type-casting

In [24]:
dis_reg = list(set(reg))

In [25]:
dis_reg

[2, 5, 10, 78, 30]

Disctionary 

| id      |   name  |
|---      |   ---   |
|s111     |   name1 |
|s201     |   name2 |
|s3001    |   name3 |

In [26]:
d = {'s111' : 'name1',
     's201' : 'name2',
     's3001' : 'name3'}

In [27]:
d

{'s111': 'name1', 's201': 'name2', 's3001': 'name3'}