# basic structures

In [1]:
l  = [1,2,3,4,5]
d  = {'name':'abc'  , 'marks' : 60}
s  = {1,2,3,4,5}
t  = (1,2,3,4,5)

In [2]:
l

[1, 2, 3, 4, 5]

In [3]:
d

{'name': 'abc', 'marks': 60}

In [4]:
s

{1, 2, 3, 4, 5}

In [5]:
t

(1, 2, 3, 4, 5)

## Accesing the members

In [6]:
l[4]

5

In [7]:
t[4]

5

In [8]:
s[2]

TypeError: 'set' object is not subscriptable

In [11]:
d

{'name': 'abc', 'marks': 60}

how many keys I have in __d__ ?

In [15]:
d.keys()

dict_keys(['name', 'marks'])

In [16]:
list(d.keys())   # type casting

['name', 'marks']

# List functions

In [17]:
l

[1, 2, 3, 4, 5]

finding __maximum__

In [23]:
max(l) #maximum

5

In [24]:
min(l) #minimum

1

In [21]:
sum(l) #total

15

In [25]:
len(l) #number of elements

5

In [29]:
avg = sum(l)/len(l)

In [30]:
print(avg)

3.0

In [32]:
type(avg)   #tells you what type of variable is it ?

float

In [33]:
avg = int(avg)

In [34]:
type(avg)

int

In [35]:
x = int(input('Enter a number : '))
print(x)

Enter a number : 20
20

In [40]:
in_1 = input('Enter a number : ')    # taking input to in_1
print( type(in_1)  )  # printing type of in_1
x = int(in_1)         # type-casting in_i into x as integer
print( type(x) )      # printing type of x
print(x)              # printing x

Enter a number : 30a
<class 'str'>

ValueError: invalid literal for int() with base 10: '30a'

In [41]:
d

{'name': 'abc', 'marks': 60}

In [45]:
list ( d.keys() )[0]

'name'

# Loops on Lists

In [49]:
l = [10,20,50,30,70,100]
l

[10, 20, 50, 30, 70, 100]

In [50]:
len(l)

6

In [56]:
sorted(l)

[10, 20, 30, 50, 70, 100]

In [57]:
sorted(l, reverse=True)

[100, 70, 50, 30, 20, 10]

In [58]:
for i in l:      # for all in l
    print(i)     # do print

10
20
50
30
70
100

In [59]:
l

[10, 20, 50, 30, 70, 100]

In [64]:
for i in range(0,6):   # for all index i in the range of 0 to 6
    print( l[i] )      # print i'th elem from list l

10
20
50
30
70
100

In [65]:
for i in range(0, len(l)):   # for all index i in the range of 0 to length of l
    print( l[i] )            # print i'th elem from list l

10
20
50
30
70
100

In [66]:
for i in range(len(l)):   # for all index i in the range of 0 to length of l
    print( l[i] )         # print i'th elem from list l

10
20
50
30
70
100

# Looping through a Dictionary

| name | id |  marks | std | activity | 
|---   | ---|  ---   | --- | ---      |
| Benaiah | 1234 | 85 | 12  | Swimming | 
| Abdullah| 4567 | 86 | 12  | Football |
| Huy     | 7890 | 84 | 12  | Martial Arts |

In [69]:
stud_rec = [
    {'name': 'benaiah' , 'id': 1234 , 'marks': 85 , 'std': 12, 'activity': 'swimming'},
    {'name': 'Abdullah' , 'id': 4567 , 'marks': 86 , 'std': 12, 'activity': 'Football'},
    {'name': 'Huy' , 'id': 7890 , 'marks': 84 , 'std': 12, 'activity': 'martial Arts'},   
]

In [80]:
stud_rec   # JSON : JacaScript Object Notation

[{'name': 'benaiah',
  'id': 1234,
  'marks': 85,
  'std': 12,
  'activity': 'swimming'},
 {'name': 'Abdullah',
  'id': 4567,
  'marks': 86,
  'std': 12,
  'activity': 'Football'},
 {'name': 'Huy',
  'id': 7890,
  'marks': 84,
  'std': 12,
  'activity': 'martial Arts'}]

In [79]:
stud = 2
query= 'activity'
ans = stud_rec[stud][query]
print(ans)

martial Arts