# Creating a file 
when you open a file in write or append mode it creates the file 
if it doesn't exist.

In [19]:
fp1=open(file='myfile.txt',mode='w')
fp1.close()

# Openning the file in Read mode

In [36]:
fp_1 = open(file='myfile.txt')

In [37]:
# what is in the file pointer
print(fp_1)

<_io.TextIOWrapper name='myfile.txt' mode='r' encoding='cp1252'>

In [38]:
# whats in the file
x = fp_1.read()

In [40]:
fp_1.close()

In [41]:
x

'this is a file\nthis is a new line\nthis is another line\nthis is where the file ends'

In [42]:
print(x)

this is a file
this is a new line
this is another line
this is where the file ends

In [52]:
line_num = 1

fp_1 = open('myfile.txt')
print( fp_1.readlines()[line_num] )
fp_1.close()

this is a new line

# Write into a file

## create a file in write mode

In [63]:
fp_data = open(file='database.txt',mode='w')

fp_data.write('this is a test \nI finish here ')

fp_data.close()

## Read the content

In [64]:
fp_data = open(file='database.txt', mode='r')

for line in fp_data.readlines():  # reading from the list of lines 
    print(line)

fp_data.close()

this is a test

I finish here

## Append two more lines

In [65]:
fp_data = open(file='database.txt',mode='a')

fp_data.write('\nthis is a test again \nI finish here ')

fp_data.close()

## Read again

In [66]:
fp_data = open(file='database.txt', mode='r')

for line in fp_data.readlines():
    print(line)

fp_data.close()

this is a test

I finish here

this is a test again

I finish here

# Context Manager

In [73]:
student_list = [
    {'id': 'stu1' , 'name':'abc' , 'marks': 85 , 'age': 14},
    {'id': 'stu2' , 'name':'pqr' , 'marks': 56 , 'age': 18},
    {'id': 'stu3' , 'name':'xyz' , 'marks': 96 , 'age': 17},
    {'id': 'stu4' , 'name':'mno' , 'marks': 45 , 'age': 18}
]

In [74]:
student_list

[{'id': 'stu1', 'name': 'abc', 'marks': 85, 'age': 14},
 {'id': 'stu2', 'name': 'pqr', 'marks': 56, 'age': 18},
 {'id': 'stu3', 'name': 'xyz', 'marks': 96, 'age': 17},
 {'id': 'stu4', 'name': 'mno', 'marks': 45, 'age': 18}]

In [75]:
len(student_list)

4

In [77]:
with open(file='stu_database.csv',mode='w') as fp1:
    fp1.write('id,name,marks,age')
    for rec in student_list:
        fp1.write('\n')
        fp1.write(f'{rec["id"]},{rec["name"]},{rec["marks"]},{rec["age"]}')

In [78]:
import pandas as pd

In [79]:
x = pd.read_csv('stu_database.csv')
x

     id name  marks  age
0  stu1  abc     85   14
1  stu2  pqr     56   18
2  stu3  xyz     96   17
3  stu4  mno     45   18